div{
    text-align: center;
    margin-bottom: 0;
}
.logo{
    width: 300px;
    height: 110px;
}
.search-bar{
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: 500;
}
button{
    border-radius: 3px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border: none;
}